.App {
  text-align: center;
}

.main-centered {
  text-align: center;
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
  position: relative;
  width: 85vmin;
  height: 85vmin;
  border-radius: 50%;
  border: solid black 0.25rem;
}

.guess-zones {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  border: solid rgb(128, 128, 128) 0.1rem;
  transition: background-color 0.5s ease-in-out;
}

.guess-zones-correct {
  background-color: rgb(60, 175, 60);
  animation: fadeBack 1s ease forwards;
}

.guess-zones-incorrect {
  background-color: rgb(225, 158, 158);
}

.guess-zones h2,
h4 {
  font-size: clamp(10px, 2vw, 22px);
}

@keyframes fadeBack {
  from {
    background-color: rgb(60, 175, 60);
  }
  to {
    background-color: white;
  }
}

.guess-zones:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.scorecard {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  left: 35%;
  top: 35%;
  width: 30%;
  height: 30%;
}

.scorecard-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

button {
  align-items: center;
  appearance: none;
  background-color: #e7e7e7;
  border-radius: 24px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: currentColor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.scorecard-button-container button:hover {
  background-color: #c2bfbf;
}

.navbar {
  border: solid lightgray 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
  width: 100vw;
  margin: auto;
}

.navbar h3 {
  cursor: pointer;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid gray 2px;
  border-radius: 20px 20px 20px 20px;
  margin: auto;
  text-align: center;
  width: 80%;
  height: 80vh;
}

.quiz-answer-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  min-width: 85vmin;
  margin: auto;
  padding: 5vh;
}

@media (max-width: 768px) {
  .quiz-container {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    border: none; /* Remove border */
  }

  .quiz-answer-container {
    min-width: 100vw;
    justify-content: space-between;
  }
}

.quiz-answer-container button {
  align-items: center;
  appearance: none;
  background-color: #e7e7e7;
  border-radius: 24px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: currentColor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}
