@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.App {
  text-align: center;
}

.main-centered {
  text-align: center;
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 242, 247);
  font-family: Lato, sans-serif;
}

.circle {
  display: flex;
  position: relative;
  width: 85vmin;
  height: 85vmin;
  border-radius: 50%;
  border: solid gray 0.1rem;
}

.guess-zones {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  border: solid rgb(128, 128, 128) 0.1rem;
  transition: background-color 0.5s ease-in-out;
}

.guess-zones-correct {
  background-color: rgb(60, 175, 60);
  animation: fadeBack 1s ease forwards;
}

.guess-zones-incorrect {
  background-color: rgb(225, 158, 158);
}

.guess-zones h2,
h4 {
  font-size: clamp(10px, 2vw, 22px);
}

@keyframes fadeBack {
  from {
    background-color: rgb(60, 175, 60);
  }
  to {
    background-color: white;
  }
}

.guess-zones:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.scorecard {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  left: 35%;
  top: 35%;
  width: 30%;
  height: 30%;
}

.scorecard-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

button {
  align-items: center;
  appearance: none;
  background-color: #e7e7e7;
  border-radius: 24px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: currentColor;
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.scorecard-button-container button:hover {
  background-color: #c2bfbf;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 5vh;
  width: 100vw;
  margin: auto;
  z-index: 2;
}

.drop-down-nav {
  position: absolute;
  margin: auto;
  width: 50vw;
  left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 1;
  border: solid lightgray 1px;
  border-radius: 0px 0px 50px 50px;
}
@media (max-width: 768px) {
  .drop-down-nav {
    font-size: larger;
    width: 100vw;
    border-bottom: solid lightgray 1px;
    border-top: solid lightgray 1px;
    border-radius: 0;
    left: 0;
    height: inherit;
  }
}

.drop-down-nav h4 {
  cursor: pointer;
  font-family: Lato;
  font-weight: 500;
  font-size: larger;
  color: gray;
}

.activity-outline-container {
  display: flex;
  flex-direction: column;
  gap: 5%;
  width: 80%;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.navbar h4 {
  cursor: pointer;
  font-family: Lato;
  font-weight: 500;
  color: black;
}

@media (max-width: 768px) {
  .navbar h4 {
    font-size: larger;
  }
}

.selected-page {
  color: black !important;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  width: 80%;
  height: 80vh;
}

.quiz-answer-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  min-width: 85vmin;
  margin: auto;
  padding: 5vh;
}

@media (max-width: 768px) {
  .quiz-container {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    border: none; /* Remove border */
  }

  .quiz-answer-container {
    min-width: 100vw;
    justify-content: space-between;
  }
}

.quiz-answer-container button {
  align-items: center;
  appearance: none;
  background-color: #e7e7e7;
  border-radius: 24px;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: currentColor;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.key-signatures-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  justify-content: space-evenly;
  align-items: center;
}

.piano-container {
  position: relative;
  margin-top: 5%;
  margin-left: 2%;
  width: 50vmin;
  height: 15vmin;
  margin-bottom: 5%;
}

.large-piano-container {
  position: relative;
  margin-top: 5%;
  margin-left: 2%;
  width: 90vmin;
  height: 15vmin;
  margin-bottom: 5%;
}

.piano-white-key {
  position: absolute;
  border: solid black 2px;
  background-color: white;
  width: 6.25vmin;
  height: 15vmin;
  cursor: pointer;
}

.piano-black-key {
  position: absolute;
  border: solid black 2px;
  width: 3.13vmin;
  background-color: black;
  height: 8vmin;
  cursor: pointer;
}

@media (max-width: 768px) {
  .key-signatures-container {
    width: 100vw;
  }

  .piano-container {
    width: 100vmin;
    height: 30vmin;
    margin-left: 10%;
  }

  .large-piano-container {
    width: 100vmin;
    height: 30vmin;
    margin-left: 10%;
  }

  .piano-white-key {
    width: 12.5vmin;
    height: 30vmin;
  }

  .piano-black-key {
    width: 6.25vmin;
    height: 16vmin;
  }

  .large-white {
    width: 6.25vmin;
    height: 15vmin;
  }

  .large-black {
    width: 3.11vmin;
    height: 8vmin;
  }
}

.piano-key-selected {
  background-color: coral;
}

.interval-questions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
}

.interval-answers-container button {
  width: calc(20% - 10px);
  margin: 10px;
}

.interval-answers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vw;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .interval-answers-container {
    width: 100vw;
  }
}

.notation-questions-graphic {
  position: relative;
  width: 20vmin;
  height: 20vmin;
}

@media (max-width: 768px) {
  .notation-questions-graphic {
    width: 40vmin;
    height: 40vmin;
  }
}

.staff-lines {
  position: absolute;
  left: 0;
  top: 30%;
}

.circle-explorer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vmin;
  height: 90vmin;
}

.circle-explorer-legend {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (max-width: 800px) {
  .circle-explorer-container {
    flex-direction: column;
    width: 100vmin;
  }

  .circle-explorer-circles {
    font-size: x-small;
    font-weight: bolder;
  }

  .circle-explorer-legend {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
  }
}
